<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% comment %}
Product form

@param product

@param selected_variant
{% endcomment %}

                <div id="puntoReferencia"></div>
{% if is_product_modal and show_dcb %}
{% assign product_smart_buttons = true %}
{% endif %}

{% if is_product_modal == false and show_dcb %}
{% assign product_smart_buttons = true %}
{% endif %}

{% if is_cross_sell or selected_variant.available == false %}
{% assign product_smart_buttons = false %}
{% endif %}

{% assign product_form_class = '' %}
{% if product_smart_buttons %}
{% assign product_form_class = 'smart-payment-enabled' %}
{% endif %}

{% if show_quantity == nil %}
{% assign show_quantity = true %}
{% endif %}



{% for block in section.blocks %}

{% case block.type %}
{%- when "pagina" -%}
  
<div class="bloque-titulos-paginas product-info-form">
  <div class="btn_ver_modal" data-modal="bloque_{{block.id}}">{{block.settings.page_title}} </div>
  <div class="subtitulo_modal">{{block.settings.page_subtitle}} </div>
  <div class="link_modal_page" data-modal="bloque_{{block.id}}">{{block.settings.page_text_link}} </div>
</div>

<div id="bloque_{{block.id}}" class="modal_page product-info-form">
  <div class="modalBoxContainer">
    <div class="modalHeader">
      <div class="d-flex justify-content-end">
        <div class="btn-cerrar-modal">
          <i class="bi bi-x-lg"></i>
        </div>
      </div>
    </div>

    <div>
        <div class="info-page">{{ pages[block.settings.page].content }}</div>
    </div>
  </div>
</div>
{% endcase %}
{% endfor %}




{% form 'product', product, class: product_form_class, data-product-form: '' %}
{% if product.has_only_default_variant %}
<input name="id" value="{{ product.variants[0].id }}" type="hidden">
{% else %}
{%
render 'product-options',
product: product,
selected_variant: selected_variant,
style: settings.product_option_style
%}
{% endif %}

{% if settings.product_show_stock_level != 'hidden'%}
{%
render 'product-stock-level',
container: 'product_page',
variant: selected_variant,
inventory_quantity: selected_variant.inventory_quantity
%}
{% endif %}

<div class="product-form--atc">
  <div class="sticky-titulo">
    {{product.title}}
  </div>
  
  {% if show_quantity %}
  <div class="product-form--atc-qty form-fields--qty" data-quantity-wrapper>
    <div class="form-field form-field--qty-select hidden">
      <div class="form-field-select-wrapper">
        <select id="product-quantity-select" class="form-field-input form-field-select"
          aria-label="{{ 'general.general.quantity' | t }}" data-quantity-select>
          {% for i in (1..9) %}
          <option {% if i==1 %}selected {% endif %}value="{{ i }}">
            {{ i }}
          </option>
          {% endfor %}
          <option value="10+">
            10+
          </option>
        </select>
        {%- comment -%}
        <label for="product-quantity-select" class="form-field-title">
          {{ 'general.general.quantity' | t }}
        </label>
        {%- endcomment -%}
        {% render 'icon-library', id: 'icon-chevron-down-small' %}
      </div>
    </div>

    <div class="form-field form-field--qty-input visible" style="display: flex; height: 33px;">
      {%- comment -%}agregar el + y - para el input{%- endcomment -%}
      <button class="cambio-cantidad menos" data-cambio="menos" type="button">
        <i class="bi bi-dash" style="font-size:22px; color: rgb(0, 0, 0);"></i>
      </button>
      <input id="product-quantity-input" class="form-field-input form-field-number form-field-filled" value="1"
        name="quantity" type="text" pattern="\d*" aria-label="{{ 'general.general.quantity' | t }}" data-quantity-input
        style="width: 35px;padding: 0 !important;">
      {%- comment -%}
      <label for="product-quantity-input" class="form-field-title">
        {{ 'general.general.quantity' | t }}
      </label>
      {%- endcomment -%}
      <button class="cambio-cantidad mas" data-cambio="mas" type="button">
        <i class="bi bi-plus" style="font-size: 22px; color: rgb(0, 0, 0);"></i>
      </button>
    </div>
  </div>
  {% else %}
  <input name="quantity" type="hidden" value="1">
  {% endif %}
  
   <div class="product-pricing precios-sticky" aria-live="polite">                 
  
      {%
        include 'product-price',
        class_root: 'product',
        price: price,
        price_varies: false,
        compare_at_price: compare_at_price,
        compare_at_price_varies: false,
        on_sale: on_sale,
        emphasize_price: false,
        show_original: true
      %}
      {%
        include 'product-badge',
        class_root: 'product',
        product_available: product_available,
        on_sale: on_sale,
        price: price,
        compare_at_price: compare_at_price,
        show_saved: true
      %}
    </div>

  <button  class="btn-cart-original product-form--atc-button {% unless selected_variant.available %}disabled{% endunless %}"
    type="submit" {% unless selected_variant.available %}disabled{% endunless %} data-product-atc>
    <span class="atc-button--text" data-product-atc-text>
      {% if selected_variant.available %}
      Agregar al carrito
      {% else %}
      {{ 'product.buttons.sold_out' | t }}
      {% endif %}
    </span>
    <span class="atc-button--icon">
      {% render 'icon-library', id: 'icon-spinner' %}
    </span>
  </button>
</div>
<div class="content-payment_button" style="margin-bottom: -3em;">
  {% if product_smart_buttons %}
  {{ form | payment_button }}
  {% endif %}
</div>

<div data-payment-terms-reference style="display: none;">
  {{ form | payment_terms }}
</div>
{% endform %}
<style>

  .btn-cart-original {
    color: rgb(255 255 255);
    background: rgb(0 0 0);
    border: 1px solid rgb(0 0 0);
    height: auto;  
    width: auto;
   
  }
   .btn-cart-original:hover { 
    background: #787878; 
   
  }
  .sticky-titulo{
      display: none;
      font-size: 17px;
      font-weight: 700;
    }
    .precios-sticky{
      display:none
    }
    
    @media(min-width:721px){
      .btn-cart-original { 
          padding: 0.875rem 2.125rem;  
        
        }
    }
</style>
 {% if settings.enable_form_sticky %}
                
  <style>
    @media(min-width:521px){
      .product--container .sticky-form   .precios-sticky{
        display:flex;
        margin: 0px;
      }
      .product--container .sticky-form   .precios-sticky .product--price {
        display:flex;
        align-items: center;
      }
      .product--container .sticky-form   .precios-sticky .product--badge.badge--sale{
        margin: 0;
      }
    }
    .product--container .sticky-form .product-info-form{
      display:none
    }
      .product--container .sticky-form{
      position: fixed;
        z-index: 600;
        background: rgb(253, 253, 253);
        width: 98%;
        padding: 10px;
        left: 1%;
        display: flex;
        bottom: 1%;
        box-shadow: 1px 0px 5px 0px;
        align-items: center;
      } 
      {%- unless settings.enable_variantes_sticky -%}
        
      .product--container .sticky-form [data-product-options-container]{
        display: none;
      }
      {%- endunless -%}
      {%- unless settings.enable_compraRapida_sticky -%}
        
      .product--container .sticky-form [data-shopify="payment-button"]{
        display: none;
      }
      {%- endunless -%}
      .product--container .sticky-form .sticky-titulo{
        display: block;
      }
      .product--container .sticky-form .product-form--atc{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin: 0;
      }
      
        {%- if settings.enable_compraRapida_sticky -%}
            .product--container .sticky-form  .content-payment_button{
              margin: 0px !important;
            }
            
          .product--container .sticky-form [data-shopify="payment-button"]{
            
          width: 100% !important;
          }
          .product--container .sticky-form .shopify-payment-button {
            margin: 0px !important; 

          } 
          .product--container .sticky-form .shopify-payment-button__more-options{
            margin: 0px !important;
            height: 0px !important;

          }
        {%- endif -%}
      
      @media(max-width:520px){
        .product--container .sticky-form{
          flex-wrap: wrap; 
          justify-content: center;
        }
          .product--container .sticky-form{
          flex-wrap: wrap; 
          justify-content: center;
          width: 98vw;
        }
        
        {% unless settings.enable_columna_sticky %}
        .product--container .sticky-form .product-form--atc{
          flex-wrap: wrap; 
          flex-direction: row !important;
        }
        .sticky-titulo{
          width: 100%;
        }
        .sticky-form .product-form--atc-qty{
          width: 47%;
        } 
        .sticky-form .btn-cart-original {
          width: 47% !important;
        } 
        {% endunless %}

        
        {%- if settings.enable_variantes_sticky -%}
        
          .sticky-form  .form-options,
          .sticky-form  .option-values,
          .sticky-form .option-name .option-header{
              margin: 0px !important;
            } 
          .sticky-form .option-name span{
              font-size: 11px !important;
            } 
          .product--container .sticky-form [data-product-options-container]{
            
          width: 47% !important;
          }
        {%- endif -%}
        {%- if settings.enable_compraRapida_sticky -%}
            .product--container .sticky-form  .content-payment_button{
              margin-top: 3px !important;
            }
            
          .product--container .sticky-form [data-shopify="payment-button"]{
            
          width: 100% !important;
          }
          .product--container .sticky-form .shopify-payment-button__more-options{
            margin: 0px !important;
            height: 0px !important;

          }
        {%- endif -%}
      }
      
  </style>
  
  <script> 
    $(function(){ 
    window.onscroll = function (e) { 
      if (this.oldScroll > this.scrollY) { 
        componenterVisible(true, this.scrollY);
      } else {
        componenterVisible(false, this.scrollY);
      }
      if($("#puntoReferencia_menu").length>0){
                  if (this.oldScroll > this.scrollY) { 
                    menuVisible(true, this.scrollY);
                  } else {
                    menuVisible(false, this.scrollY);
                  } 

      } 
      this.oldScroll = this.scrollY;
    }
    function isInViewport(e) {
      var elementTop = e.offset().top;
      var elementBottom = elementTop + e.outerHeight();

      var viewportTop = $(window).scrollTop();
      if($(window).width() <520){
      var viewportBottom = viewportTop;

      }else{

      var viewportBottom = viewportTop + $(window).height();
      }

      return elementBottom > viewportTop && elementTop < viewportBottom;
    }; 

    function componenterVisible(scroll, scrollY) { 
      try {

        let isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;
  
        if (isInViewport($("#puntoReferencia"))) { 
            $("form").removeClass("sticky-form") 
        } else {
          //subida  
            $("form").addClass("sticky-form")

        }
      } catch (e) {
        console.log(e)
      }

    }  
  
    function menuIsInView(e) {
        var elementTop = e.offset().top;
        var elementBottom = elementTop + e.outerHeight();

        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height(); 
        return (elementBottom - $("header").height() ) > viewportTop && elementTop < viewportBottom;
      };


    function menuVisible(scroll, scrollY) { 
        let referenciaTOP = $("#puntoReferencia_menu").position().top;
        
        try {

          let isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;

          if (menuIsInView($("#puntoReferencia_menu"))) { 
              $(".menu-detalles-producto").removeClass("menu-sticky") 
          } else {
            //subida  
            if(referenciaTOP>scrollY){
              $(".menu-detalles-producto").removeClass("menu-sticky") 
              return;
            }else{

              if($(".comprobarSticky").attr("data-sticky")=="true"){
              $(".menu-detalles-producto").css("top",$("header").height()) 

              }else{
              $(".menu-detalles-producto").css("top",0) 

              }

              $(".menu-detalles-producto").addClass("menu-sticky")
              return;
            }

          }
        } catch (e) {
          console.log(e)
        }

      }  

    })
  </script>

  {% endif %} 